---
### First Play: Gather date/time from localhost
- name: Gather date/time on localhost
  hosts: localhost
  gather_facts: true
  tasks:
    - name: Set date and time facts for use in Fortigate tasks
      set_fact:
        backup_date: "{{ ansible_date_time.date }}"
        backup_time: "{{ ansible_date_time.time }}"

### PaloAlto Backup ###
- hosts: paloalto
  collections:
    - paloaltonetworks.panos
  gather_facts: false
  connection: local
  vars:
    dest_path: "/root/{{ datacenter }}"
    folder: "{{ dest_path }}/{{ inventory_hostname }}/{{ hostvars['localhost']['backup_date'] }}"
    filename: "{{ folder }}/backup_{{ hostvars['localhost']['backup_date'] }}_{{ hostvars['localhost']['backup_time'] }}.yaml"
    latest_file: "{{ dest_path }}/{{ inventory_hostname }}/latest/latest.yaml"
  tasks:

    - name: Creating backup folder if it does not exist
      file:
        path: "{{ folder }}"
        mode: 0775
        owner: root
        group: root
        state: directory
      delegate_to: localhost

    - name: Creating fortigate diff directory if it does not exist
      file:
        path: "{{ dest_path }}/{{ inventory_hostname }}/latest/"
        state: directory
        owner: root
        group: root
        mode: 0775
      delegate_to: localhost

    - name: Backing up config file from PaloAlto
      paloaltonetworks.panos.panos_facts:
        provider:
          ip_address: "{{ ansible_host }}"
          username: "{{ panos_username }}"
          password: "{{ panos_password }}"
        gather_subset: ['config']
      register: backupinfo

    - name: Saving the PaloAlto backups to local directory
      copy:
        content: '{{ backupinfo.ansible_facts.ansible_net_config }}'
        dest: "{{ filename }}"

    - name: Comparing latest and new PaloAlto config files
      shell: diff "{{ filename }}" "{{ latest_file }}" > "{{ dest_path }}/{{ inventory_hostname }}/latest/compared.yaml"
      register: diff_output
      ignore_errors: true
      changed_when: diff_output.rc == 1
      failed_when: diff_output.rc > 1

    - name: Updating latest PaloAlto config file to compare with next backup
      command: cp "{{ filename }}" "{{ latest_file }}"
      delegate_to: localhost
